# Archivos temporales
*.log
*.tmp

# Carpeta Python
__pycache__/
*.pyc

# Entornos virtuales
venv/

# Configuración IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db


.venv/
data/raw/
*.csv
*.parquet
__pycache__/
